Django>=2.2rc1,<2.3
djangorestframework>=3.5.4
django-rest-swagger>=2.2.0<2.3.0
django-cors-header==3.1.1
flatlibfr>=0.0.1.dev4
numpy>=1.17.2
#PyYAML>=5.1.2<5.2
#uwsgi>=2.0,<2.1
#dj-database-url>=0.5,<0.6
# Prevent pip from installing the binary wheel for psycopg2; see:
# http://initd.org/psycopg/docs/install.html#disabling-wheel-packages-for-psycopg-2-7
#psycopg2>=2.7,<2.8 --no-binary psycopg2

# https://www.caktusgroup.com/blog/2017/03/14/production-ready-dockerfile-your-python-django-app/